<div class="max-w-3xl">
    <app-collapsible-item>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus a tempora nisi hic, animi expedita
        repellendus quas quo dolore ducimus earum, veniam fugit sint temporibus.
    </app-collapsible-item>
    <app-collapsible-item>
        <img src="https://picsum.photos/seed/picsum/1600/900" width="1600" height="900" alt="random image">
    </app-collapsible-item>
    <app-collapsible-item>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga deleniti nam, provident
        voluptatem iste quibusdam quo repudiandae exercitationem in temporibus optio molestias, ipsam voluptatibus modi
        culpa officia maxime architecto eligendi sunt! Repellendus, ipsam excepturi!
    </app-collapsible-item>
</div>