<div class="font-mono max-w-5xl">
    <h1 class="text-5xl font-bold pb-8">CalciumUI – an UI components collection</h1>
    <p class="text-base">
        CalciumUI has a collection of barebones UI components which are styled by TailwindCSS. The styling is pretty
        bare bones. That's why it's called Calcium.
        Point of this collection is to have a ready to use fully customisable UI library which is not locked
        behind
        obscurity or bundled files, inspired by shadcn/ui.

        The goal here is not to have a fully flexible component library to the extend like shadcn, but UI
        Elements
        you
        can grab as base for quick prototyping or UI component building.
    </p>
</div>